#container-1 {
    height: 50rem;
    width: 100%;
}

#container-2 {
    height: 50rem;
    width: 100%;
}

#container-2-card {
    height: 13rem;
    width: 25rem;
}

#container-3 {
    height: 50rem;
    width: 100%;
}

#container-card-3 {
    height: 45rem;
    width: 95%;
}

#container-card-3-2 {
    height: 15rem;
    width: 15rem ;
}

#container-4 {
    height: 18rem;
    width: 100%;
}